{% extends 'base.html' %}
{% load staticfiles %}

{% block contant %}


<!DOCTYPE html>
<html lang="en">
<head>

       <script
        src="https://code.jquery.com/jquery-1.12.0.js"
         integrity="sha256-yFU3rK1y8NfUCd/B4tLapZAy9x0pZCqLZLmFL3AWb7s="
        crossorigin="anonymous"></script>

    <script src="https://code.highcharts.com/highcharts.src.js"></script>
     <script type=”text/javascript” src=”/media/js/jquery-1.7.1.js”></script>
 <script type=”text/javascript” src=”/media/js/Highcharts-2.1.9/js/highcharts.js”></script>
{% load chartit %}

     {{ cht|load_charts:'container' }}




</head>
<body>
 <div id='container'> Chart will be rendered here </div>
</body>

{% endblock %}